main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > div{
    width: 90%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

/* formulario */
#formulario{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3%;
    gap: 15px;
    
   /* height: 300px;*/
   /* background-color: brown;*/
}

#secao-cadastro{
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 60px;
   /* background-color: burlywood;*/
}

.estilo-formulario{
    max-width: 340px;
}

#formulario > div {
    width: 100%;

}

#formulario > div > label{
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza);
    font-weight: 500; /*aumenta ou diminui a espessura da fonte*/
    padding-bottom: 4px;
}

.formulario-botao-azul {
    width: 100%;
}

#formulario > p{
    text-transform: uppercase; /*transforma o texto em maiusculo*/
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-azul-escuro);
    font-weight: 400;
}

#formulario > a, #secao-cadastro > p > a{
    text-decoration: none;
    color: var(--cor-cinza);
    font-weight: 600;
}

#secao-cadastro> p {
    font-size: var(--tamanho-fonte-md);
}

.informacao-aplicativo{
    
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-azul-escuro);
    font-weight: 400;
}

#secao-instalacao{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#secao-instalacao img{
    width: 133px;
    height: 39px;
}